.cta-button {
    font-size: 13px;
    -webkit-box-shadow: 4px 6.9px 16px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 6.9px 16px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 6.9px 16px rgba(0, 0, 0, 0.4);
    color: white;
    background: #000;
}
.cta-button:hover {
    color: #000;
    background: white;
    -webkit-box-shadow: 4px 6.9px 26px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 6.9px 26px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 6.9px 26px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}
#mic-image {
    width: 500px;
    height: 900px;
    margin-top: 100px;
}

@media screen and (max-width:620px),
screen and (-webkit-min-device-pixel-ratio:1.5) and (max-device-height:720px) and (max-device-width:1280px) and (max-width:999px),
screen and (-webkit-min-device-pixel-ratio:1.5) and (max-device-width:1000px) and (max-width:999px) {
    #howto-vid {
        width: 200px;
        height: 150px;
    }
}