.ui-id-24{  width: 884px; top: -103.5px; left: 467.5px; }
.ui-id-25{  width: 433px; top: 185px; left: 47px; cursor: default; }
.ui-id-26{  top: 509px; left: 45.3229px; width: 181px; cursor: default; }
.ui-id-27{  top: 145.5px; left: 48px; cursor: default; }
.ui-id-29{  width: 250px; top: 163px; left: 547px; cursor: default; }
.ui-id-30{  width: 250px; top: 86px; left: 547px; cursor: default; }
.ui-id-31{  width: 88px; top: 386px; left: 746px; }
.ui-id-32{  width: 185px; top: 387px; left: 555.5px; }
.ui-id-33{  width: 250px; top: 457px; left: 85.5px; cursor: default; }
.ui-id-34{  width: 250px; top: 401px; left: 86px; cursor: default; }
.ui-id-35{  top: 1131px; left: 374.5px; }
.ui-id-36{  width: 539px; top: 1048.5px; left: 210.5px; cursor: default; text-align: center; }
.ui-id-37{  width: 111px; top: 703.667px; left: 94.8229px; }
.ui-id-38{  width: 250px; top: 711.333px; left: 557.167px; cursor: default; }
.ui-id-39{  width: 250px; top: 757px; left: 557px; cursor: default; }
.ui-id-40{  width: 138px; top: 726px; left: 240.333px; }
.ui-id-41{  width: 156px; top: 63px; left: 231px; }
.ui-id-44{ width: 85px; top: 98.3333px; left: 91.8333px;}
.ui-id-42{ top: 31.5px; left: 781.375px; cursor: default;}
.ui-id-43{  top: 29.5px; left: 12px; cursor: default; }
.ui-id-1{  height: 739px; background: rgb(255, 255, 255); }
.ui-id-2{  height: 1210px; background: rgb(255, 255, 255); }
.ui-id-3{  height: 82px; }
/* Small screen styling */ 
@media screen and (max-width: 620px), screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-device-height: 720px) and (max-device-width: 1280px) and (max-width: 999px), screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-device-width: 1000px) and (max-width: 999px) { 
.ui-id-24{  width: 482px; top: 321px; left: -45px; }
.ui-id-25{  width: 354px; top: 57px; left: 23px; cursor: default; text-align: center; }
.ui-id-26{  top: 477px; left: 120.5px; width: 181px; }
.ui-id-27{  top: 29.5px; left: 149.5px; }
.ui-id-28{  width: 58px; top: 96.6665px; left: 87.8334px; }
.ui-id-29{  width: 250px; top: 384px; left: 75px; text-align: center; }
.ui-id-30{  width: 250px; top: 298px; left: 75px; cursor: default; text-align: center; }
.ui-id-31{  width: 63px; top: 569px; left: 248px; }
.ui-id-32{  width: 126px; top: 566px; left: 91.3334px; }
.ui-id-33{  width: 250px; top: 793px; left: 75px; text-align: center; }
.ui-id-34{  width: 250px; top: 749px; left: 71px; cursor: default; text-align: center; }
.ui-id-35{  top: 1571px; left: 115px; }
.ui-id-36{  width: 353px; top: 1434.83px; left: 28.1667px; cursor: default; text-align: center; }
.ui-id-37{  width: 111px; top: 952px; left: 82.3334px; }
.ui-id-38{  width: 250px; top: 1115.32px; left: 75px; cursor: default; text-align: center; }
.ui-id-39{  width: 250px; top: 1180.17px; left: 75px; cursor: default; }
.ui-id-40{  width: 138px; top: 974.333px; left: 210px; }
.ui-id-41{  width: 156px; top: 38px; left: 169.667px; }
.ui-id-42{  top: 13.5px; left: 253.375px; }
.ui-id-43{  top: 11.5px; left: 12px; cursor: default; }
.ui-id-1{  height: 603px; background: rgb(255, 255, 255); }
.ui-id-2{  height: 1651px; background: rgb(255, 255, 255); }
.ui-id-3{  height: 46px; }
.undefined{  top: 11.5px; left: 9.5px; }
.ui-id-44{ width: 85px; top: 98.3333px; left: 91.8333px;}
}